body{
    font-family: sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 750px;
}
#startBox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 456px;
    height: 456px;
    font-size: 80px;
}
.start{
    color: white;
    cursor: pointer;
    padding: 20px;
    border-radius: 15px;
}
.start:hover {
    text-shadow:10px 6px 2px rgb(211, 48, 198);
}
#select{
    display: none;
}
#box{
    display: none;
    justify-content: space-between;
    flex-flow: column wrap;
    width: 456px;
    height: 85px;
    font-size: 30px;
}
#pName{
    display: none;
    justify-content: space-between;
    flex-flow: column;
    color: white;
    width: 456px;
    height: 456px;
}
.result{
    color: white;
}
.input{
    margin: 10px auto;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid rgb(211, 48, 198);
    background-color: black;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}
.null::-webkit-input-placeholder {
    color: red;
 }
#p1{
    margin-top: 30%;
}
#p2{
    margin-bottom: 25%;
}
#begin{
    position: relative;
    border-radius: 0;
    height: 73px;
    font-size: 56px;
    padding: 0;
    text-align: center;
}
#begin:hover {
    
}
.tab{
    margin: 0;
    width: 150px;
    height: 40px;
    text-align: center;
}
.p{
    color: white;
    margin-left: 1px;
}
#TicTacToe{
    display: flex;
    flex-flow: row wrap;
    background-color: black;
    width: 456px;
    height: 456px;
}
.box{
    width: 148px;
    height: 148px;
    text-align: center;
    font-size: 115px;
    text-shadow:10px 5px 2px rgb(211, 48, 198);
}
.box:nth-child(2) , .box:nth-child(3) , .box:nth-child(4) , .box:nth-child(5) , .box:nth-child(6) , .box:nth-child(7){
    border-bottom: 2px solid rgb(211, 48, 198);
}
.box:nth-child(2) , .box:nth-child(3) , .box:nth-child(5) , .box:nth-child(6) , .box:nth-child(8) , .box:nth-child(9) {
    border-right: 2px solid rgb(211, 48, 198);
}
#back{
    display: none;
    color: white;
    width: 456px;
    height: 45px;
    text-align: center;
    font-size: 36px;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 20px;
}
#back:hover {
    text-shadow:10px 5px 2px rgb(211, 48, 198);
}
#pvc{
    display: none;
    justify-content: center;
    flex-flow: column;
    color: white;
    width: 456px;
    height: 456px;
}
.pvcMode{
    font-size: 40px;
    text-align: center;
    margin: 10px;
    padding: 0;
}
